.App {
  text-align: center;
}


.App-header {
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#Navbar {
  background-color: #3b5998;
}

.logotext {
  font-size: large;

}
