.App {
  text-align: center;
}


.App-header {
  height: 100px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

#Navbar {
  background-color: #3b5998;
}

#search-bar {
  padding-top: 10px;
}

.logotext {
  font-size: large;
}

.mainEventDiv {
  height: 20%;
  width: 20%;
  padding 10em,10em,10em,10em;
}

.login {
  color:grey;
}
