.App {
  text-align: center;
}

.App-header {
  height: 100px;
  color: white;

}

.App-intro {
  font-size: large;
}

#Navbar {
  background-color: #3b5998;
  color: #e6e6e6;

}

#Navbar:link {
  color: pink;
}

#search-bar {
  padding-top: 10px;
}

.logotext {
  font-size: large;
  color: black;
  font-family: 'Rubik Mono One', sans-serif;
}

#mainEventDiv {
  height: 450px;
  width: 100%;
}

.login {
  color:grey;
}

#eventImg {
  width: 90%;
  height: 40%;
}
#eventShowBio {
  text-align: center;
}

#eventShowImg {
  width: 90%;
}

#

#bioText {
  text-align: center;
}

.comments{
  color: #3b5998;
  background-color: grey;

.comments-list{
   border-bottom: 2px dotted #cccccc;
}
